@import url(__header/place__header.css);
@import url(__title/place__title.css);
@import url(__website/place__website.css);
@import url(__url-heading/place__url-heading.css);
@import url(__link/place__link.css);
@import url(__content/place__content.css);
@import url(__image/place__image.css);
@import url(__paragraph-all/place__paragraph-all.css);
@import url(__paragraph/place__paragraph.css);
@import url(__paragraph/_next/place__paragraph_next.css);


.place {
    display: grid;
    grid-template-columns: minmax(340px, 460px) minmax(352px, 484px);
    grid-column-gap: 40px;
    grid-row-gap: 52px;
    margin-bottom: 85px;
    grid-auto-flow: row;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-column-gap: 32px;
        grid-row-gap: 45px;
        margin-bottom: 92px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-column-gap: 28px;
        margin-bottom: 82px;
    }
}

@media screen and (max-width: 760px) {
    .place {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 375px) {
    .place {
        margin-bottom: 67px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        margin-bottom: 72px;
    }
}
